body {
    background: #C7DEAA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    text-align: center;
  }

h1 {
    text-shadow: 5px 0 #D9DBD6;
}

hr {
    border: dotted;
    border-bottom: none;
    border-color: black;
    color: black;
    width: 95%;
}

p {
    font-weight: bold;
    margin: 50px;
    padding: 10px 20px 10px 20px;
}

.bio-background-colo {
    background-color: blanchedalmond;
    margin: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.bio-background-home {
    background-color: blanchedalmond;
    margin: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.btn {
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    font-size: 30px;
    background: darkseagreen;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

btn:hover {
    background: #bedbbb;
    text-decoration: none;
}

.footer-link {
    margin: 30px;
    padding-bottom: 100px;
}

.hello-title {
    margin: 10px;
}

.hr-small {
    border-style: dotted;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-color: black;
    border-top-width: 2px;
    width: 30%;
}

.mountain-range-img {
    height: auto;
    max-width: 100%;
}

.ocean-img {
    text-align: left;
}


.top-container {
    background-color: blanchedalmond;
    margin: 40px;
}